span.ast-node, span.ast-node input{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
span.ast-node{
    line-height: 24px;
}
span.ast-node.has-children > input, span.bolded.ast-node{
    font-weight: 600;
}
span.ast-node.no-children:before{
    content: ' ';
    white-space: pre;
}
span.ast-node.has-children:before{
    content: ' (';
}
span.ast-node.has-children:after{
    content: ')';
}
span.ast-node input{
    border: 0;
    background-color: transparent;
    padding: 0 1px 2px 1px;
}
span.ast-node input:focus{
    outline: none;
    background-color: #2feeff;
}
span.ast-node input:disabled{
    background-color: transparent;
    color: #000;
}
span.ast-node.newline{
    padding-left: 50px;
    display: block;
    text-indent: -15px;
}
span.ast-node.dummy{
    visibility: hidden;
}